.one-line-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}

.tow-line-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}

.three-line-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}

.yekanbakh-regular {
  * {
    font-family: $yekanbakh_regular !important;
  }
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.default-scrollbar {
  &::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #282833;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #525369;
  }
}
