$white: #ffffff;
$default-font-color: #616161;
$primary: #444557;
$primary-100: #7d7e9f;
$primary-200: #6f708d;
$primary-300: #61627b;
$primary-400: #525369;
$primary-500: #444557;
$primary-600: #363745;
$primary-700: #282833;
