.default-layout {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;

  @include respond( default ) {
    padding: 0 7rem;
  }

  @include respond( tab-land ) {
    padding: 0 3rem;
  }

  @include respond( tab-port ) {
    padding: 0 2rem;
  }

  @include respond( phone ) {
    padding: 0 1rem;
  }

  &__main {
    min-height: calc(100vh - 31rem);
    position: relative;
  }
}
